body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    margin-top: 1%;
  }
  
  .header.hidden {
    top: -80px; 
  }
  
  .header .left {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15em;
  }
  
  .header .right a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .header .right a:hover {
    color: grey;
  }
  
  .separator {
    color: white;
    margin: 0 5px;
  }
  
  .right {
    display: flex;
    align-items: center;
    margin-right: 10%;
  }
  
  a {
    cursor: pointer;
  }
  

  html {
    scroll-behavior: smooth;
  }
  
  @media (max-width: 768px) {
    .header .left {
      font-size: 1.2rem;
    }
  
    .header .right a {
      font-size: 0.9rem;
      padding: 0 5px;
    }
  }
  